:root {
    --primary-color: #EB4526;
    --secondary-color: #07A97E;
    --dark-color: #000000;
    --white-color: #ffffff;
    --light-color: #dcdcdc97;
    --gray-color: #3f3f3f;
    --student-color: #FC0079;
    --teacher-color: #6D29F6;
    --admin-color: #0095FF;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--dark-color);
    background-color: var(--primary-color);

}

nav ul {
    display: flex;
    text-decoration: none;
    align-items: center;

}

nav ul li {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;


}

#logo {
    max-width: 200px;
    max-height: 200px;
    min-height: 60px;
    min-width: 70px;
    padding: 20px 20px;


}

#flag {
    max-width: 40px;
    max-height: 20px;
    margin: 15px 12px;

}

img {
    width: 100%;
}

/* search section starts */
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius:12px;
    color: var(--dark-color);
    background-color: var(--primary-color);
}

i {
    margin: 12px 40px;
    color: var(--white-color);
    font-size: 18px;
}

select {
    margin: 10px;
    color: var(--gray-color);
    border: 0;

}

input {
    margin: 10px;
    color: var(--gray-color);
    border: 0;

}

button {
    margin: 10px 20px;
    padding: 10px 20px;
    color: var(--white-color);
    border-radius: 0px 30px;
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.089);
    background-color: var(--secondary-color);
}

/* search section ends */

/* results cart starts */
.results {
    max-width: 1100px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--light-color);
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.0104) 0%, rgba(255, 255, 255, 0.13) 100%);
box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.1);
border-radius: 0px;
}

.result-cart {
    display: flex;
    padding: 12px;
    position: relative;
}

.result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-header p {
    font-weight: bold;
    align-items: center;
    padding: 5px 20px ;
    margin: 20px 0;
}
.result-header i{
    color: var(--gray-color);
}

.result-body {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 12px 0;
}
.student {
color: var(--student-color);
}
/* results cart ends */
.container {
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

#main>div:nth-child(1) {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.calendar-container1,
.calendar-container2 {
    width: 100%;
    height: fit-content;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container1 {
    grid-column-start: 2;
}

.calendar-container2 {
    grid-column-start: 3;
}
.calendar {
    width: 22rem;
    height: fit-content;
    background-color: #F0F0F0;
}

i.fa-angle-right,
i.fa-angle-left {
    color: #747474;
}

.month {
    width: 100%;
    height: 3rem;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.month i {
    font-size: 1.5rem;
    cursor: pointer;
}

.month h1 {
    color: #777;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.month p {
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
}

.date {
    width: 100%;
}

.weekdays {
    width: 100%;
    height: 3rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 0.8rem;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.1rem;
    width: calc(21.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    margin: 0.3rem;
    width: calc(21rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-size: 1rem;
    height: 2.3rem;
    color: black;
}

.days div:hover:not(.today) {
    background-color: #afafaf;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #167e56;
}

.content-box {
    width: 26rem;
    height: 14rem;
    background-color: #167e56;
    grid-column-start: 2;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
    background-color: var(--gray-color);
    color: var(--white-color);
}

.links {
    padding: 20px;
}

.links a {
    display: block;
    padding: 12px 12px;
    color: var(--white-color);
}

p {
    display: block;
    flex-direction: column;
}