:root {
    --primary-color: #EB4526;
    --secondary-color: #07A97E;
    --dark-color: #000000;
    --white-color: #ffffff;
    --light-color: #dcdcdc97;
    --gray-color: #3f3f3f;
    --student-color: #FC0079;
    --teacher-color: #6D29F6;
    --admin-color: #0095FF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-variant: small-caps;
    width: 100%;
    height: 100%;
    color: var(--dark-color);
    background-color: var(--primary-color);

}

nav ul {
    display: flex;
    text-decoration: none;
    align-items: center;

}

nav ul li {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;


}

#logo {
    max-width: 200px;
    max-height: 200px;
    min-height: 60px;
    min-width: 70px;
    padding: 20px 20px;


}

#flag {
    max-width: 40px;
    max-height: 20px;
    margin: 15px 12px;
    cursor: pointer;


}

img {
    width: 100%;
}

/* search section starts */
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--dark-color);
    background-color: var(--primary-color);
}

i {
    margin: 12px 40px;
    color: var(--white-color);
    font-size: 18px;
}

select {
    margin: 10px;
    color: var(--gray-color);
    border: 0;
    border-radius: 2px;

}

input {
    margin: 10px;
    padding: 0 2px;
    color: var(--gray-color);
    border: 0;
    border-radius: 2px;

}

button {
    margin: 10px 20px;
    padding: 10px 40px;
    color: var(--white-color);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(43, 43, 43, 0.089);
    background-color: var(--secondary-color);
}

/* search section ends */

/* results cart starts */
.results {
    max-width: 1100px;
    padding: 20px;
    margin: 40px auto;
    background-color: var(--light-color);
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.0104) 0%, rgba(255, 255, 255, 0.13) 100%);
    box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.1);
    border-radius: 0px;

}

.result-card {
    padding: 12px 12px;
    margin-bottom: 50px;
    background-color: var(--light-color);
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.0104) 0%, rgba(255, 255, 255, 0.13) 100%);
    box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    margin-bottom: 5px;
}

.result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.result-header p {
    font-weight: bold;
    align-items: center;
    padding: 5px 20px;
    margin: 20px 0;
}

.result-header i {
    color: var(--gray-color);

}

.result-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block: 20px;

}

.student {
    color: var(--student-color);
}

/* results cart ends */
.container {
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main {
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
}

.main>div :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.main>div :nth-child(2) {
    padding: 15px;
    grid-column: 2/3;
    grid-row: 1/2;

}


.main h2 {
    font-size: 30px;
    color: var(--dark-color);
    margin: 20px 20px;

}

.main p {
    font-size: 18px;
    color: var(--dark-color);
    margin: 20px 10px;
    padding: 10px;
    line-height: 1.5;
}

.calendar-container1,
.calendar-container2 {
    width: 100%;
    height: fit-content;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container1 {
    grid-column-start: 2;
}

.calendar-container2 {
    grid-column-start: 3;
}

.calendar {
    width: 20rem;
    height: fit-content;
    background-color: #F0F0F0;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.0104) 0%, rgba(255, 255, 255, 0.13) 100%);
    box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.1);
}

i.fa-angle-right,
i.fa-angle-left {
    color: #747474;
}

.month {
    width: 100%;
    height: 3rem;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.month i {
    font-size: 1.5rem;
    cursor: pointer;
}

.month h1 {
    color: #777;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}

.month p {
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
}

.date {
    width: 100%;
}

.weekdays {
    width: 100%;
    height: 3rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 0.8rem;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.1rem;
    width: calc(21.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    width: calc(21.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    font-size: 1rem;
    height: 2.3rem;
    color: black;
}

.days div:hover:not(.today) {
    background-color: #afafaf;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color:var(--secondary-color);
    
}

.content-box {
    width: 20rem;
    height: 6rem;
    grid-column-start: 2;
    color: #000000;
    background: #F7F7F7;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.0104) 0%, rgba(255, 255, 255, 0.13) 100%);
    box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.1);
}

.content-box p {
    padding: 10px;
}


footer {
    display: flex;
    justify-content: space-around;
    padding: 12px 12px;
    background-color: var(--gray-color);
    color: var(--white-color);
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-color);
    color: var(--white-color);

}

.links {
    padding: 10px 30px;
}

.links a {
    display: block;
    padding: 12px 0px;
    color: var(--white-color);
}

p {
    display: block;
    flex-direction: column;

    

}

.links h3 {
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 10px 0;
}

.links p {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    width:40%;
    padding:0px;
}

@media (max-width: 680px) {

#logo {
        min-width: 140px;
    }
nav ul {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
}
.main p{
    line-height: 1.75;
}

.main > div:nth-child(1) > p:nth-child(3) {
    display: none;
    }

.calendar-container2 {
    display: none;
}

.search-section {
    display: none;
}

.role, .course, .due-date, .location {
    flex-direction: row;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.due-date {
    display: none;
}

.dot {
    padding: 15px;
}

i {
    font-size: 1em;
    margin: 0;
}
footer{
    flex-direction: column;
}
.links p{
    line-height: 1.5;
}
}